<!DOCTYPE html>
<html>
<head>
    <title>Sucesso!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Registro adicionado com sucesso!</h2>
        <a href="{% url 'minha_view' %}" class="btn btn-primary">Voltar ao Formulário</a>
    </div>

    <div class="container mt-5">
        <h2>Acessar Chamados Atendidos</h2>
        <a href="{% url 'chamados_atendidos' %}" class="btn btn-primary">click aqui para acessar</a>
    </div>
</body>
</html>
